{% load static i18n %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        hr.dashed {
            border: none;
            border-top: 1px dashed rgba(0, 0, 0, .1);
        }

        hr.strong {
            border: none;
            border-top: 2px solid rgba(0, 0, 0, .1);
        }

        .row {
            margin-bottom: .3rem;
        }
    </style>
</head>
<body>

<div class="container">
    <div id="image-container"></div>
    <h2 class="text-uppercase">{{ feature.feature_class.name }} <br> {{ feature.name }} ({{ feature.fid }})</h2>
    <hr class="mb-2">


    <!-- Feature -->
    <div class="row">
        <b class="col-sm-2">{% trans "Feature" %}</b>
        <div class="col-sm-10">
            <a href="{% url 'nature:feature-report' feature.id %}">{{ feature.name }}</a>
        </div>
    </div>

    <hr class="mb-4">
    {% if feature.habitat_type_observations.all %}
        <h4 class="text-uppercase">{% trans "Habitat types" %}</h4>
        <hr class="mb-2">

        {% for observation in feature.habitat_type_observations.all %}
            <div class="row">
                <b class="col-sm-3">{% trans "Habitat type" %}</b>
                <div class="col-sm-9">
                    {{ observation.habitat_type.name }}
                </div>
            </div>
            <div class="row">
                <b class="col-sm-3">{% trans "Habitat group" %}</b>
                <div class="col-sm-9">
                    {{ observation.habitat_type.group }}
                </div>
            </div>
            <div class="row">
                <b class="col-sm-3">{% trans "Habitat code" %}</b>
                <div class="col-sm-9">
                    {{ observation.habitat_type.code }}
                </div>
            </div>
            {% if observation.habitat_type.description %}
                <div class="row">
                    <b class="col-sm-3">{% trans "Habitat description" %}</b>
                    <div class="col-sm-9">
                        {{ observation.habitat_type.description }}
                    </div>
                </div>
            {% endif %}
            {% if observation.habitat_type.additional_info %}
                <div class="row">
                    <b class="col-sm-3">{% trans "Habitat additional info" %}</b>
                    <div class="col-sm-9">
                        {{ observation.habitat_type.additional_info | safe }}
                    </div>
                </div>
            {% endif %}
            {% if observation.observation_series.id %}
                <div class="row">
                    <b class="col-sm-3">{% trans "Observation series" %}</b>
                    <div class="col-sm-9">
                        <a href="{% url 'nature:observationseries-report' observation.observation_series.id %}">{{ observation.observation_series.name }}</a>
                    </div>
                </div>
            {% endif %}
            {% if observation.observation_series.id %}
                <div class="row">
                    <b class="col-sm-3">{% trans "Group fraction" %} %</b>
                    <div class="col-sm-9">
                        {{ observation.group_fraction }}
                    </div>
                </div>
            {% endif %}
            {% if not forloop.last %}
                <hr class="mb-2 dashed">
            {% endif %}
        {% endfor %}
        <hr class="mb-4">
    {% endif %}
    <footer>
        <p class="mb-1">© Helsingin kaupunki</p>
        <p>Luontotietojärjestelmä</p>
    </footer>
</div>
</body>
</html>
