{% load i18n l10n %}
<style type="text/css">{% block map_css %}{% get_current_language_bidi as LANGUAGE_BIDI %}
    #{{ id }}_map { width: {{ map_width }}px; height: {{ map_height }}px; }
    #{{ id }}_map .aligned label { float: inherit; }
    #{{ id }}_div_map { position: relative; vertical-align: top; float: {{ LANGUAGE_BIDI|yesno:"right,left" }}; }
    {% if not display_raw %}#{{ id }} { display: none; }{% endif %}
    .disable-edit, .is-editing .enable-edit { display: none; }
    .enable-edit, .is-editing .disable-edit { display: inline; }
    {% endblock %}
</style>

<div id="popup" class="ol-popup">
  <a href="javascript:{{ module }}.closeFeaturePopup()" id="popup-closer" class="ol-popup-closer"></a>
  <div id="popup-content"></div>
</div>

<div id="{{ id }}_div_map">
    <div id="{{ id }}_map"></div>
    {% if not disabled %}
    <span class="edit_features">
        <a href="javascript:{{ module }}.editFeatures()">
            <span class="enable-edit">{% trans "Edit" %}</span><span class="disable-edit">{% trans "Stop editing" %}</span>
        </a>
    </span> |
    <span class="clear_features"><a href="javascript:{{ module }}.clearFeatures()">{% trans "Delete all Geometries" %}</a></span>
    {% endif %}
    {% if display_raw %}<p>{% trans "Debugging window (serialized value)" %}</p>{% endif %}
    <textarea id="{{ id }}" class="vSerializedField required" cols="150" rows="10" name="{{ name }}">{{ serialized }}</textarea>
    <script type="text/javascript">
        {% block map_options %}var map_options = {};{% endblock %}
        {% block options %}var options = {
            geom_name: '{{ geom_type }}',
            id: '{{ id }}',
            map_id: '{{ id }}_map',
            map_options: map_options,
            map_srid: {{ map_srid|unlocalize }},
            name: '{{ name }}',
            default_x: {{ default_x|unlocalize }},
            default_y: {{ default_y|unlocalize }},
            default_zoom: {{ default_zoom|unlocalize }},
            wfs_server_url: '{% url 'nature:wfs' %}'
        };
        {% endblock %}
        var {{ module }} = new MapWidget(options);
    </script>
</div>
