{% extends "gis/openlayers.html" %}
{% load l10n %}

{% block options %}{{ block.super }}
options['default_lon'] = {{ default_lon|unlocalize }};
options['default_lat'] = {{ default_lat|unlocalize }};
options['default_zoom'] = {{ default_zoom|unlocalize }};
{% endblock %}

{% block base_layer %}
var base_layer = new ol.layer.Tile({
    source: new ol.source.WMTS({
        url: 'https://kartta.hel.fi/ws/geoserver/avoindata/gwc/service/wmts',
        layer: 'avoindata:Opaskartta_Helsinki',
        format: 'image/png',
        matrixSet: 'ETRS-GK25',
        tileGrid: new ol.tilegrid.WMTS({
            tileSize: [256, 256],
            extent: [2.544E7,6630000.0,2.5571072E7,6761072.0],
            origin: [2.544E7, 6761072.0],
            resolutions: [256.0, 128.0, 64.0, 32.0, 16.0, 8.0, 4.0, 2.0, 1.0, 0.5, 0.25, 0.125, 0.0625],
            matrixIds: ['ETRS-GK25:0', 'ETRS-GK25:1', 'ETRS-GK25:2', 'ETRS-GK25:3', 'ETRS-GK25:4', 'ETRS-GK25:5', 'ETRS-GK25:6', 'ETRS-GK25:7', 'ETRS-GK25:8', 'ETRS-GK25:9', 'ETRS-GK25:10', 'ETRS-GK25:11', 'ETRS-GK25:12']
        }),
        wrapX: true
    })
});
{% endblock %}
