{% load static i18n %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        hr.dashed {
            border: none;
            border-top: 1px dashed rgba(0, 0, 0, .1);
        }

        hr.strong {
            border: none;
            border-top: 2px solid rgba(0, 0, 0, .1);
        }

        .row {
            margin-bottom: .3rem;
        }
    </style>
</head>
<body>

<div class="container">
    <div id="image-container"></div>
    <h2 class="text-uppercase">{% trans "Species report" %}</h2>
    <hr class="mb-2">


    <!-- Species -->
    <div class="row">
        <b class="col-sm-2">{% trans "Species" %}</b>
        <div class="col-sm-10">
            <i>{{ species.name_sci_1 | lower | capfirst }}</i>
            <br/>
            {{ species.name_fi | lower | capfirst }}
        </div>
    </div>
    <div class="row">
        <b class="col-sm-2">{% trans "Taxon" %}</b>
        <div class="col-sm-10">
            {{ species.taxon | lower | capfirst }}

            {% if species.taxon_1 %}
                <br/>
                {{ species.taxon_1 | lower | capfirst }}
            {% endif %}

            {% if species.taxon_2 %}
                <br/>
                {{ species.taxon_2 | lower | capfirst }}
            {% endif %}
        </div>
    </div>
    <hr class="mb-4">

    <!-- Regulations -->
    {% if species.regulations.all %}
        <h4 class="text-uppercase">{% trans "Regulations" %}</h4>
        <hr class="mb-2">

        {% for regulation in species.regulations.all %}
            {% include 'nature/stubs/species-regulation.html' with regulation=regulation %}
            {% if not forloop.last %}
                <hr class="mb-2 dashed">
            {% endif %}
        {% endfor %}
        <hr class="mb-4">
    {% endif %}

    <!-- Features -->
    {% if feature_classes %}
        <h4 class="text-uppercase">{% trans "Features" %}</h4>
        <hr class="mb-3">

        {% for feature_class_id, feature_class in feature_classes.items %}
            {% if not forloop.first %}
                <hr class="mb-3 strong">
            {% endif %}
            <h5 class="text-uppercase">{{ feature_class.name }}</h5>
            <hr class="mb-2 strong">
            {% for observation in feature_class.observations %}
                <div class="row">
                    <b class="col-sm-2">{% trans "Name" %}</b>
                    <div class="col-sm-10">
                        {{ observation.feature.name }}
                    </div>
                </div>

                <div class="row">
                    <b class="col-sm-2">{% trans "Feature" %}</b>
                    <div class="col-sm-10">
                        <a href="{% url 'nature:feature-report' observation.feature.id %}">{{ observation.feature.id }}</a>
                    </div>
                </div>

                {% if observation.series.id %}
                    <div class="row">
                        <b class="col-sm-2">{% trans "Observation series" %}</b>
                        <div class="col-sm-10">
                            <a href="{% url 'nature:observationseries-report' observation.series.id %}">{{ observation.series.name }}</a>
                        </div>
                    </div>
                {% endif %}

                {% if observation.number %}
                    <div class="row">
                        <b class="col-sm-2">{% trans "Number" %}</b>
                        <div class="col-sm-10">
                            {{ observation.number }}
                        </div>
                    </div>
                {% endif %}

                {% if observation.description %}
                    <div class="row">
                        <b class="col-sm-2">{% trans "Description" %}</b>
                        <div class="col-sm-10">
                            {{ observation.description }}
                        </div>
                    </div>
                {% endif %}
                {% if not forloop.last %}
                    <hr class="mb-2 dashed">
                {% endif %}
            {% endfor %}
        {% endfor %}
        <hr class="mb-2">
    {% endif %}
    <footer>
        <p class="mb-1">© Helsingin kaupunki</p>
        <p>Luontotietojärjestelmä</p>
    </footer>
</div>
</body>
</html>
