# DEBUG turns on/off Django debug, good for development, but leaks info
DEBUG=True

# SECRET_KEY is the key used by Django for CSRF and password recovery
# among other functions. Use a random string in production
SECRET_KEY='möömöti möö'

# ALLOWED_HOSTS is the list of allowed values `Host` headers accepted
# by Django. See: https://docs.djangoproject.com/en/2.1/ref/settings/#allowed-hosts
# Setting DEBUG to True disables this check
# ALLOWED_HOSTS=,

# ADMINS is a list of email addresses of site admins. Django sends e-mail
# to these addresses in certain situations. Only applies in case DEBUG
# is false
# ADMINS=,

# DATABASE_URL contains all database configuration in one variable.
# See https://github.com/kennethreitz/dj-database-url for full syntax
# Examples:
# PostgreSQL database `ltj` through local unix socket: `postgis:///ltj`
# PostgreSQL database `ltj` on localhost port 5432 with uid and password: `postgis://ltj:ltjpass@localhost:5432/ltj`
# DATABASE_URL='postgis:///ltj'

# MEDIA_ROOT is where Django will store uploaded files, if backed by FS
# MEDIA_ROOT='/path/to/your/media/root'

# STATIC_ROOT is where Django static file framework will store and look for
# "static" files
# STATIC_ROOT='/path/to/your/static/root'

# MEDIA_URL is the URL where MEDIA_ROOT is available
# MEDIA_URL='/media/'

# STATIC_URL is the URL where STATIC_ROOT is available
# STATIC_URL='/static/'

# LOG_LEVEL is the lowest log message level output
# Loggin is handled by Python logging framework through Django
# LOG_LEVEL='INFO'

# SENTRY_DSN is the URL for your Sentry instance. It is not required.
# See: https://sentry.io
# SENTRY_DSN=''

# SENTRY_ENVIRONMENT adds additional `environment` tag to events logged
# through sentry. It is useful for separating events between those.
# SENTRY_ENVIRONMENT='unconfigured'

# WFS_SERVER_URL is used by the administration interface to retrieve
# location and area data for display on the map editor. It should point
# to a WFS server using the same backend database as this LTJ instance
# WFS_SERVER_URL='http://localhost/'

# WFS_NAMESPACE basically specifies the database requested from the
# WFS server. The WFS server must be configured to serve out the correct
# backend database using this namespace. Otherwise the admin interface
# will be very confusing, as it will display information from one database
# and save the changes to another.
# WFS_NAMESPACE='ltj-dev'