DEBUG=True
SECRET_KEY='möömöti möö'
# ALLOWED_HOSTS=,
# ADMINS=,
# DATABASE_URL='postgis:///ltj'
# MEDIA_ROOT='/path/to/your/media/root'
# STATIC_ROOT='/path/to/your/static/root'
# MEDIA_URL='/media/'
# STATIC_URL='/static/'
# LOG_LEVEL='INFO'
# SENTRY_DSN=''
# SENTRY_ENVIRONMENT='unconfigured'
# WFS_SERVER_URL='http://localhost/'
# WFS_NAMESPACE='ltj-dev'