#id_geometry_map .layer-switcher ul {
    margin-left: 0;
    padding-left: 1em;
}

.nature-mouse-position {
    bottom: 35px;
    right: 8px;
    font-size: 12px;
    position: absolute;
}

.type-MultiLineString {
    background-image: url("../img/draw_multiline_off.svg");
    right: 80px;
}

.type-MultiLineString.type-active {
    background-image: url("../img/draw_multiline_on.svg");
}

.type-MultiPolygon {
    background-image: url("../img/draw_multipolygon_off.svg");
    right: 105px;
}

.type-MultiPolygon.type-active {
    background-image: url("../img/draw_multipolygon_on.svg");
}

/* Map popup */
.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 150px;
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "✖";
}
